block append styles
    link(rel="stylesheet", href="./styles/sideMenu.css")
    
block sidebar
    side#gnb-sideMenu
        button#btn-sideMenuOpen
            i(id="btn-sideOnOffIcon" class="fas fa-angle-double-left fa-2x")
        button(id="btn-sideMenuClose" hidden="true")
            i(id="btn-sideCloseIcon" class="fas fa-angle-double-right fa-2x")

        #side-contents
            #side-top
                img(src="./images/icons/main_logo.png" )
                
            nav#side-nav-main
                ul#side-main-list
                    li 
                        a(href="/") Home
                    li 
                        a(href="/kpop") K-POP
                    li 
                        a(href="/community") Community
                        
            #side-userInfo
                span#user-name
                span 님 환영합니다.

            nav#side-nav-bottom
                ul#side-bottom-list
                        li
                            a#btn-logout(href="/auth/kakao/logout")
                                img(src="./images/icons/kakao_logout_medium.png")
                        li
                            a#btn-login(href="/auth/kakao")
                                img(src="./images/icons/kakao_login_medium.png")


block append scripts 
    script(src="./scripts/sideMenu.js")  
